/* ---------------------------------------------------------------
CSS Reset (minified)
--------------------------------------------------------------- */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{border:0;font:inherit;font-size:100%;margin:0;padding:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* This is a slightly adjusted version of the box-sizing reset for ensuring that components inside an explicitly declared content-box are also content-box'ed */

html{box-sizing:border-box}*,*:after,*:before{box-sizing:inherit}

/* ---------------------------------------------------------------
My Base Styles
--------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0 auto;
  background-color: #20222F;
  color: #8F98B9;
  font-weight: 700;
}

h1, h2, h3 {
  color: white;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

label, input {
  display: block;
}

.container {
  padding: 20px 100px;
}

/* ---------------------------------------------------------------
Header
--------------------------------------------------------------- */

header {
  display: flex;
  justify-content: space-between;
}
.color-mode {
  display: flex;
  align-items: center;
  min-width: 150px;
}

.dark-mode-icon {
  background: linear-gradient(to right, #46AFB3, #3BCF95);
  width: 30%;
  margin-left: 10px;
  padding: 3px;
  border-radius: 10px;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: #252B41;
  /* background-color: wheat; */
  border-radius: 50%;
}

/* ---------------------------------------------------------------
Main
--------------------------------------------------------------- */

.card {
  background-color: #252B41;
  /* border: 3px solid salmon; */
  border-radius: 5px;
  color: white;
  text-align: center;
  width: 250px;
  padding-top: 10px;
}

.all-square-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.square-card .user-id {
  font-weight: 400;
}

.square-card .count {
  font-size: 4em;
}

.square-card .count-unit {
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: 100;
}

.square-card .daily-growth {
  color: #3D9970;
  margin: 10px 0;
}

.square-card .daily-growth.negative-growth {
  color: #e74c3c;
}
.negative-growth {
  color: #e74c3c;
}

.positive-growth {
  color: #3D9970;
}

.all-rectangle-cards {
  margin-top: 20px;
}

.row-01, .row-02 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.rectangle-card {
  display: flex;
  flex-wrap: wrap;
}
/* This is a nice try here. Try more of these nifty picks */
.rectangle-card > *:not(img) {
  flex-basis: 50%;
  margin: 10px 0;
}

.rectangle-card .count {
  font-size: 2em;
}


.card-01 {
  border-top: 4px solid #1DA1F2;
}

.card-02 {
  border-top: 4px solid #1DA1F2;

}

.card-03 {
  background: linear-gradient(to right, #4D28D0, #CF01C5, #ED7D2F, #F2E06E);
  padding-top: 4px;
}

.gradient-border {
  background-color: #252B41;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-04 {
  border-top: 4px solid red;
}

.card-05 {

}

.card-06 {

}

.card-07 {

}

.card-08 {

}


/* Font Awesome */

.fas, .fab {
  font-size: 1.5em;
}

.fa-facebook-square {
  color: #1DA1F2;
}

.fa-twitter {
  color: #1DA1F2;
}

.fa-instagram {
  /* color: linear-gradient(to right, #4D28D0, #CF01C5, #ED7D2F, #F2E06E); */
  color: red;
}

.fa-youtube {
  color: red;
}

.fa-caret-up {

}

